/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2015, 09:03:06
    Author     : Celso
*/
/*******************************************************************************
 *                                                                             *
 * Preset colours for the theme                                                *
 *                                                                             *
 ******************************************************************************/



.theme-presets {

    -sb-base: #cccccc;
    -sb-base-dark: derive(-sb-base, -60%);

    -sb-header-text: derive(-sb-base, -70%);
    -sb-header-text-dimmed: derive(-sb-base, -45%);
    -sb-header-detail: derive(-sb-base, -45%);
    -sb-header-height: 32;

    -sb-content-text: derive(-sb-base, 75%);
    -sb-content-text-dimmed: derive(-sb-base, 25%);
    -sb-content-detail: derive(-sb-base, 55%);
    -sb-content-background: derive(-sb-base, -32%);

    -sb-grad-hi: derive(-sb-base, 65%);
    -sb-sharp-edge-hi: derive(-sb-base, 20%);
    -sb-flat: -sb-base;
    -sb-sharp-edge-lo: derive(-sb-base, -40%);

    -sb-text-control-inner: rgb(90, 90, 90);
    -sb-text-control-outer: rgb(135, 135, 135);

    -sb-scrollbar-thumb: -sb-flat;

    -sb-focus-color: rgb(105, 255, 205);
    -sb-focus-inner-background: derive(-sb-flat, 10%);
    -sb-selected-bar-color: rgb(75, 155, 210);
    -sb-selected-bar-unfocused-color: derive(-sb-content-background, 20%);

    -sb-line-art: derive(-sb-base, 40%);
    -sb-line-art-accent: rgb(105, 255, 205);

    -sb-css-winner-color: rgb(125, 125, 85);
    -sb-warning-panel: rgb(230, 225, 140);
    -sb-warning-panel-text: derive(-sb-base, -50%);
    -sb-warning-panel-text-dimmed: derive(-sb-base, -20%);
    -sb-message-panel: rgb(185, 220, 240);
}

/*******************************************************************************
 * Menu Bar - text                                                             *
 ******************************************************************************/

.theme-presets .menu-bar .context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}
.theme-presets .menu-bar .context-menu .menu-item > .label {
    -fx-text-fill: -fx-text-base-color;
}
.theme-presets .menu-bar .context-menu .separator:horizontal .line {
    -fx-border-color: rgb(220, 220, 220), white;
    -fx-border-insets: 0, 1 0 0 0;
}

/*******************************************************************************
 * Document Window - Menubar for Linux (Mac uses system Menubar)               *
 ******************************************************************************/

.theme-presets .menu-bar {
    -fx-background-color:
        derive(-sb-sharp-edge-hi, 0%),
        linear-gradient(to bottom, derive(white, -2%), derive(white, -10%) );
    -fx-background-insets: 0, 0 0 1 0;
}

/*******************************************************************************
 * Document Window - Menubar and Border around document for Windows only       *
 ******************************************************************************/

.theme-presets .windows-document-decoration {
    /*-fx-border-color: linear-gradient(to bottom, -sb-sharp-edge-hi, -sb-sharp-edge-lo);*/
}
.theme-presets.windows-document-decoration .menu-bar {
    -fx-background-color:
        -sb-sharp-edge-lo, 
        -sb-sharp-edge-hi, 
        linear-gradient(to bottom, derive(white, -2%), derive(white, -10%) );
    -fx-background-insets: 0, 0 0 1 0, 1 0 1 0;
}


.button {
    -fx-padding: 5;
    -fx-shadow-highlight-color: f0f0f0;
    -fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, white, #D7D7D7, white);
}

.buttonFundo{
    -fx-background-color: #00A3D9 ;
}

.buttonImg{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/botao.png");
}

.buttonImgClicado{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/botao2.png");
}

.paneInicial .CadPessoa{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/cadPessoaCerto.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .pessoaMat{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/pessoaMat.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.pessoaFreq{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/pessoaFreq.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butFuncionario{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/func.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butVenda{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/venda.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butCC{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/controleCaixa.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butentrada{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/entrada.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butsaida{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/saida.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butCof{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/conf.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butAjuda{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/ajuda.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.paneInicial .butSair{
    -fx-background-color: transparent;
    -fx-background-image: url("../img/sair.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.paneInicial .butSair:hover{
    -fx-background-color: red;
}
#verde:hover{
    -fx-background-color:#009933;
    -fx-text-fill:white ;
}
.butSairMouseEnter{
    -fx-background-color: red;
}

.butMouseEnter{
    -fx-background-color:  #00A3D9 ;
}
.enterButton{
    -fx-background-color: #009933;
}
.menu-item{
    -fx-opacity: 0.87;
}

.progress-bar > .bar {
    -fx-background-color: #00A3D9 ;
    -fx-background-insets: 1 1 2 1;
    /*-fx-background-radius: 0.583em; *//* 7 */
    -fx-background-radius: 2;
    -fx-padding: 0.20em;
}
.paneInicial{
    -fx-background-color: #00A3D9 ;
}

.PaneAzul{
    -fx-background-color: #00A3D9 ;
}

#Azul{
    -fx-text-fill: white;
    -fx-background-color: #00A3D9 ;
    -fx-animated: true;

}
#sair{
    -fx-text-fill: white;
    -fx-background-color: #00A3D9 ;
    -fx-animated: true;  
}
#sair:hover{
    -fx-background-color: red;
    //-fx-border-color: #99ccff;
}
.butsairlateral:hover{
    -fx-background-color: red;
    //-fx-border-color: #99ccff;
}
.buttonNormal:hover{
    -fx-background-color:#009933;
    //-fx-border-color: #99ccff;
}
#Azul:hover{
    -fx-background-color:#009933;
    -fx-text-fill:white ;
}
.imgseta{
    -fx-background-image: url("../img/seta.png");
}


.theme-presets .panel_head{

}

.theme-presets .panel_head .text-field:focused {
    -fx-border-color: #99ccff;
    -fx-background-color: white;
    -fx-background-image: url("../img/close.png");
    -fx-background-position: right;
    -fx-background-repeat: no-repeat;
}
.theme-presets .panel_head .text-field{
    -fx-text-fill: black;
    -fx-font-size: 0.875em;
    -fx-border-color: 
        linear-gradient(to bottom, derive(-sb-sharp-edge-lo, 40%), derive(-sb-sharp-edge-hi, 25%));
    -fx-border-radius: 10;
    -fx-border-insets: 0 0 0 0;
    -fx-background-color: linear-gradient(to bottom, derive(#99ccff, 40%), derive(#00A3D9 , 25%));
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10;
    -fx-background-image: url("../img/lupa.png");
    -fx-background-position: right;
    -fx-background-repeat: no-repeat;
    //-fx-background-image: url("../img/text.png");
}
.btNovo:hover{
    -fx-background-color: derive(#00A3D9 , 40%);

}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black ;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:right {
    -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:bottom {
    -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #99def5;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
    -fx-border-width: 2;
    -fx-border-color: #00A3D9 ;
    -fx-border-insets: -2 -2 2 -2;
    -fx-font-weight: bold; 
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1, 1;
    -fx-border-color: transparent;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 2, 1; /* looks sharper if outer border has a tighter radius (2 instead of 3) */
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: -6 -5 -4 -4, -5 -3 -2 -2;
}

.combo-box > .text-input{
    -fx-text-fill: #2d789e;
}
.text-input, .combo-box, date-picker {
    -fx-border-color:  derive(#ececec,26.4%) derive(#ececec,26.4%) black  derive(#ececec,26.4%);
    -fx-border-width: 1;
    -fx-border-insets: -1 -1 1 -1;
    -fx-font-weight: bold; 
    -fx-text-fill: #2d789e;
    -fx-background-color: 
        derive(#ececec,26.4%);
}
.text-input:focused, .combo-box:focused, date-picker:focused{
    -fx-border-color:  derive(#ececec,26.4%) derive(#ececec,26.4%) #00A3D9   derive(#ececec,26.4%);
    -fx-border-width: 1;
    -fx-border-insets: -1 -1 1 -1;
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        white;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
.Text, .label, .button > text{
    -fx-font-family: 'Roboto Medium';
}
.Topo{
    -fx-background-color: #2d789e;
}
.Topo .buttonSair, .buttonExpand, .buttonMinus{
    -fx-background-color: transparent;
}
.Topo .buttonSair:hover{
    -fx-background-color: red;
}

.Topo .buttonExpand:hover, .buttonMinus:hover{
    -fx-background-color: green;
}


/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider .thumb {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-repeat:  no-repeat;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 1.1em;  /* 7 */
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}
.slider .thumb:pressed {
    -fx-background-image:  url("../img/thumb-max.png");
    -fx-background-repeat:  no-repeat;
    -fx-padding: 1.1em;
    
}
.slider .track {
      -fx-background-color: 
          black;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
    
}
.slider:vertical .track {
    -fx-background-color: 
         derive(red, 80%);
}
.slider .axis {
    -fx-tick-label-fill: derive(-fx-text-background-color, 30%);
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}
/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
}
.check-box > .box {
    -fx-border-color:  #009933;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
.check-box:selected > .box {
    -fx-border-color:  #009933;
    -fx-background-color: #009933;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
.check-box:selected > .box > .mark {
    -fx-background-color: white;
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}

.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}
.check-box:indeterminate > .box {
    -fx-padding: 0; 
}
.check-box:indeterminate  > .box > .mark {
    -fx-shape: "M0,0H10V2H0Z";
    -fx-scale-shape: false;
    -fx-padding: 0.666667em; /* 16x16 = 8+8 */
}
.radio-button:selected > .radio > .dot{
    -fx-background-color: #009933, #009933;
    -fx-background-insets: 1 0 -1 0, 0;
}
.combo-box-popup > .list-view {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-17%),
            derive(-fx-color,-30%)
        ),
        -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
}
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #00A3D9 ;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: white;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: #00A3D9 ;
}
.PanelInside {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2, 0.0 , 1 , 1 );
}

.PanelInsideAzul{
    -fx-background-color: #00A3D9 ;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2, 0.0 , 1 , 1 );
}


